In [1]:
import pandas as pd

In [2]:
d = {'sales': [100000,222000,1000000,522000,111111,222222,1111111,20000,75000,90000,1000000,10000], 'city': ['Tampa','Tampa','Orlando','Jacksonville','Miami','Jacksonville','Miami','Miami','Orlando','Orlando','Orlando','Orlando'], 'size': ['Small', 'Medium','Large','Large','Small','Medium','Large','Small','Medium','Medium','Medium','Small',]}

In [3]:
df = pd.DataFrame(data=d)

In [5]:
df.head(10)

     sales          city    size
0   100000         Tampa   Small
1   222000         Tampa  Medium
2  1000000       Orlando   Large
3   522000  Jacksonville   Large
4   111111         Miami   Small
5   222222  Jacksonville  Medium
6  1111111         Miami   Large
7    20000         Miami   Small
8    75000       Orlando  Medium
9    90000       Orlando  Medium

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
#enc = OrdinalEncoder()

In [16]:
df['size'].unique()

array(['Small', 'Medium', 'Large'], dtype=object)

In [17]:
sizes = ['Small', 'Medium', 'Large']

In [18]:
enc = OrdinalEncoder(categories = [sizes])

In [19]:
enc.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.]])

In [20]:
df.head()

     sales          city    size
0   100000         Tampa   Small
1   222000         Tampa  Medium
2  1000000       Orlando   Large
3   522000  Jacksonville   Large
4   111111         Miami   Small

In [21]:
df.size = enc.fit_transform(df[['size']])